@{
    ViewData["Title"] = "Index";
}
@if(@ViewBag.Jugadores != null){
    <h1>Top de jugadores</h1>
    <ol>
    @foreach(Usuario jugador in @ViewBag.jugadores){
        <li>@jugador.Nombre</li>
    }
    </ol>
}


<div>
    <form action="@Url.Action("Comenzar")" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="number" name="dificultad" min="1" max="4" placeholder="Dificultad (1-4)" required>
        <input type="submit" placeholder="Comenzar">
    </form>
</div>

